.fila1 {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    margin: 2% 2% 0% 2%;
    color: #fff;
    margin: 5%;
    font-weight: lighter;
}
.cash{
    font-size: 30px;
    font-family: 'Digitalt';
}

.fila1-titulo {
    /*height: 50px;  Altura deseada */
    background-color: transparent; /* Color de fondo */
    margin-top: 2%;
    margin-bottom: 0%;
    margin-top: 0%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 40px;
    color: #eee;
    font-family: 'Digitalt';
}
.fila1-titulo span{
    margin-top: 2%;
}
.titulo-nivel-txt{
    border: 1px solid #eee;
    border-radius: 45px;
    padding: 1%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 40px;
    font-family: 'Digitalt';
}
.titulo-coin{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 100px;
}
.contenido-juego {
    background-image: linear-gradient(to bottom, #2C9AFF, #53F3FD);
    margin: 2%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    border-radius: 10px;
    height: 93%;
}
#score {
    font-size: 24px;
    font-weight: lighter;
}
.container-practica{
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Digitalt';
    gap: 2%;
}
.texto-req{
    box-shadow: 0px 5px 5px -5px #D1D8FF;
    border-bottom: 5px solid #D1D8FF;
    border-radius: 21px;
    margin: 2% 15% 2% 15%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.txt{
    padding: 5%;
}
.btn-1{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.btn-1 button{
    box-shadow: inset 0 0 10px #4EC307;
            color: whitesmoke;
            border-radius: 20px;
            /*width: 50%;*/
            margin-right: 5%;
            border: 1px solid #FFFFFF;
            padding: 15px 30px;
            font-size: 42px;
            font-family: 'Digitalt';
}
.btn-2{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.btn-2 button{
    box-shadow: inset 0 0 10px #4EC307;
            color: whitesmoke;
            border-radius: 20px;
            /*width: 50%;*/
            margin-right: 5%;
            border: 1px solid #FFFFFF;
            padding: 15px 30px;
            font-size: 42px;
            font-family: 'Digitalt';
}
.btn-2 button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.3s ease;
}
.btn-1 button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.3s ease;
}
